{% extends 'base-web.html.twig' %}

{% block body %}

{% set sume = 0 %}
<br>
<div class="container">
<h1>Pedido</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Bestell Nr.</td>
            <td>Name</td>
            <td>Preis</td>
            <td>Status</td>
            
        </tr>
    </thead>
    <tbody>
        {% for bestellung in bestellungen %}
            {% set sume = sume + bestellung.preis %}
            <tr>
                <td>{{bestellung.bnumber}}</td>
                <td>{{bestellung.name}}</td>
                <td>{{bestellung.preis}}</td>
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>{{bestellung.status}}</td>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{bestellung.status}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('status',{id: bestellung.id, status: 'offen'})}}">offen</a>
                            <a class="dropdown-item" href="{{ path('status',{id: bestellung.id, status: 'fertig'})}}">fertig</a>
                            <a class="dropdown-item" href="{{ path('status',{id: bestellung.id, status: 'arquiv'})}}">arquiv</a>
                        </div>
                    </div>
                </td>
                {% endif %}
                <td>
                <select id="status" >
                        <option href="{{ path('status',{id: bestellung.id, status: 'offen'})}}" value="{{ bestellung.name }}">offen</option>
                        <option value="saab">fertig</option>
                        <option value="opel">arquiv</option>
                    </select>
                    {% if (bestellung.status == 'offen') %}
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('bestellung_delete', {id: bestellung.id}) }}" role="button">
                        Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <td></td><td></td>
        <td>{{ sume }} EUR</td>
        <td></td>
    </tbody>
    </table>
</div>

{% endblock %}
